.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.mapContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapWrapper {
  display: flex;
  justify-content: space-between;
}

.mapItemContainer {
  width: 5em;
}

.mapItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 2em;
  /* border: 1px black solid; */
}

.indexHorizontally {
  position: relative;
  padding-bottom: 1.5em;
}

.indexVertically {
  position: absolute;
  left: -22%;
  top: 40%;
  transform: translateY(-50%);
}

.horizontallyContainer {
  display: flex;
  flex-direction: column;
}

.verticallyContainer {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}

.outputContainer {
  margin-top: 2em;
}

.outputTitle {
  text-decoration: underline;
}

.messageForm {
  margin-bottom: 2em;
}

.formEntryFileStyle {
  margin-bottom: 2em;
}
